legend {
    text-align: center;
    font-size: 2em;
}
fieldset {
    width: 300px;
    height: 200px;
    text-align: center;
    border-radius: 20px;
}
#start {
    position: relative;
    top: 0px;
    left: 90px;
    background-color: rgb(135, 206, 5);
    width: 80px;
    height: 40px;
    font-size: 1.8em;
    font-weight: bold;
}
#pause {
    visibility: hidden;
    position: relative;
    top: 0px;
    left: -90px;
    width: 170px;
    height: 40px;
    font-size: 1.8em;
    background-color: rgb(250, 185, 100);
}
#stop {
    visibility: hidden;
    position: relative;
    top: -40px;
    left: 105px;
    width: 80px;
    height: 40px;
    font-size: 1.8em;
    background-color: rgb(250, 185, 100);
}
span {
    font-size: 4em;
    position: relative;
    top: -20px;
    font-weight: bold;
}
button {
    border-radius: 10px;
}